@import '../../../styles/app';

.root {

}

.overFlow {
  overflow-x: auto;
}

.mainTableWidget {
  :global {
    .table td {
      border: none;
    }
  }
}
.label-primary {
  background-color: #ff8800; /* Bootstrap primary color */
  color: green;
}


